/*
  css version: 3.0
  created:     29.09.19
  author:      Michael Gipsman
  email:       gipsman@gmail.com
*/

/* --- Base rules --- */
body {
  margin: 0;
  padding: 0;
  background: #e8e7e7;
}
h1 {
  margin: 0px 0px 34px 7.568807339449541%;
  color: #060606;
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
  font-size: 2.25em;
  letter-spacing: 2px;
}
section {
  margin-left: 12.5%;
}
h2 {
  font-family: 'EB Garamond', serif;
  font-weight: 500;
}


