/*
  css version: 3.0
  created:     29.09.19
  author:      Michael Gipsman
  email:       gipsman@gmail.com
*/

/* --- Base rules --- */
body {
  background: #e8e7e7;
}
h1 {
  font: 2.25‬em Raleway;
}
h2 {
  
}